<!-- Messages JavaScript -->
<script type="text/javascript">
$(function() {

  // run once for page load (init)
  loadBills();

  // ------------------ Functions -----------------
  function displayBills(bills) {
    let bills_html = '';
    bills.forEach(function(b) {
      bills_html += `
        <div class="row">
          <div class="">
            <span>${b.User.recipient_name}</span>
            <br>
            <span>MID: ${b.User.recipient_wallet_address}</span>
          </div>
        </div>`;
    });
    $('#bills-box').html(bills_html);
  }

  // ------------------ Ajax call -----------------
  /**
   * Ajax, call server to get msg/msgs
   */
  async function loadBills(limit = 20, offset = 0, order = 'DESC') {
    const params = `order=${order}&limit=${limit}&offset=${offset}`
    const res = await fetch(
      `/api/v1/bills?${params}`,
      {
        method: "GET"
      }
    ).then(response => response.json());

    if (res && res.meta && (res.meta.total > 0 || res.data !== null)) {
      // obj returned instead of array
      res.data = res.data.length === undefined ? [res.data] : res.data;

      displayBills(res.data);
    } else if (res.meta.total == 0) {
      alert(`Can't find that message...`);
    } else {
      alert(`Status Code ${res.meta.code} : ${res.meta.msg}`);
    }
  };

});
</script>