<div class="container" style="padding: 0;">
  <div class="row">
    <div id="paypawHeadline" class="col-md p1 d-flex align-items-center">
      <div>
        <h4 class="sub-title"><i>It is too easy.</i></h4>
        <div class="headline-title">Fast and secure<br>BTM payments</div>
        <br>
        <div class="paypaw-sub-text">PayPaw offers "Pay with BTM" solutions for you online/offline store.<br>Fast and secure without fee!</div>
        <br>
        <div>
          <a class="btn btn-grad" href="/signup">Sign up now</a>
        </div>
      </div>
    </div>
    <div class="col-md p1 d-flex justify-content-center align-items-center">
      <img src="/img/paypaw-ad.png" alt="" height="400">
    </div>
  </div>
  <hr>

  <div id="paypawSteps">
    <h2>Accept BTM online</h2>
    <p class="paypaw-sub-text">
      The PayPaw "Pay with BTM" checkout button is easy to add to your web-app or online shop.<br>
      Click checkout to generate a payment for a known recipient with ID.
    </p>
    <nav class="">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-s1-tab" data-toggle="tab" href="#nav-s1" role="tab" aria-controls="nav-s1" aria-selected="true">1. Signup and Setup</a>
        <a class="nav-item nav-link" id="nav-s2-tab" data-toggle="tab" href="#nav-s2" role="tab" aria-controls="nav-s2" aria-selected="false">2. Verify your payment</a>
      </div>
    </nav>

    <div class="tab-content margin-top-30" id="nav-tabContent">
      <div class="demo-tab tab-pane fade show active" id="nav-s1" role="tabpanel" aria-labelledby="nav-s1-tab">
<pre><code class="html">
    1. Sign up with your BTM Vapor wallet address and become a recipient
    2. Get your Recipient ID (User ID) from Main menu -> Dashboard
    3. Add and modify the following code to your web-app

    &lt;!-- i. Place the button somewhere in your HTML --&gt;
    &lt;div id='paypaw-btn'&gt;&lt;/div&gt;

    &lt;!-- ii. Add the PayPaw script --&gt;
    &lt;script src=&quot;https://paypaw.org/js/paypaw.js&quot;&gt;&lt;/script&gt;

    &lt;!-- iii. Render the button --&gt;
    &lt;script&gt;
      payPaw.render({

        // Payment info
        payment: {
          &quot;user_id&quot;: 1,
          &quot;email&quot;: &quot;paypaw.org@gmail.com&quot;,
          &quot;currency&quot;: &quot;BTM&quot;,
          &quot;currency_amount&quot;: 50,
          &quot;message&quot;: &quot;hello paw&quot;
        },

        // Your callback method or API request here
        afterPayment: function(data) {
          alert('Payment received! Your callback method or API request here');
          // payment data
          console.log(data); // Check 2. Verify your payment
        }

      }, 'paypaw-btn');
    &lt;/script&gt;
</code>
</pre>
      </div>

      <div class="demo-tab tab-pane fade" id="nav-s2" role="tabpanel" aria-labelledby="nav-s2-tab">
<pre><code>
    1. After the payment completed, you get the payment data from afterPayment
    2. You can also call the paypaw API "https://paypaw.org/api/v1/bill/[bill_id]" anytime you want for payment data
    3. 'data.status': 0 = pending payment, 1 = payment completed
    # Request URL: https://paypaw.org/api/v1/bill/30
    # Request Method: GET
    # Status Code: 200 OK

    {
      "meta": {
        "error": false,
        "code": 200,
        "total": 1,
        "applied_filter": {
          "bill_id": 30
        },
        "msg": "ok"
      },
      "data": {
        "id": 30,
        "user_id": 1,
        "email": "paypaw.org@gmail.com",
        "currency": "BTM",
        "currency_amount": 50,
        "address": "vp1qdu9n76lnjtknnga27e6t4gcke5848rzx0erpdc",
        "asset_id": 1,
        "asset_amount": 5000000000,
        "status": 1,
        "created_at": "2019-08-14T01:00:30.000Z",
        "message": "hello paw",
        "updated_at": "2019-08-14T01:00:30.000Z",
        "bill_age": 666
      }
    }
</code>
</pre>
      </div>
    </div>
  </div>

  <div id="paypawDemo" class="form-row">
    <div class="col-md">
      <div>
        <h3>1. Payment info <i class="fas fa-arrow-alt-circle-down faa-bounce animated-hover"></i> <span class="float-right">2. Checkout <i class="fas fa-arrow-alt-circle-right faa-horizontal animated-hover"></i></span></h3>
        <!-- <h3 class="text-right"><span>2. Checkout <i class="fas fa-arrow-circle-right faa-horizontal animated"></i></span></h3> -->
      </div>
      <form class="needs-validation" novalidate>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text checkout-input-label">Email</span>
          </div>
          <input type="email" class="form-control paypaw-input" id="checkoutEmail" placeholder="(Your email for invoice)" required>
          <div class="invalid-feedback">
            Please provide email.
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text checkout-input-label" for="inputGroupSelect01">Currency</label>
            </div>
            <select class="custom-select" id="checkoutCurrency" required>
              <h6 class="dropdown-header">Crypto</h6>
              <option value="BTM" selected>BTM</option>
              <option value="USD" disabled>USD</option>
              <option value="CAD" disabled>CAD</option>
              <option value="CNY" disabled>CNY</option>
              <option value="EUR" disabled>EUR</option>
            </select>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text checkout-input-label">Amount</span>
          </div>
          <input type="text" class="form-control" id="checkoutAmount" aria-label="Amount" placeholder="" required>
          <div class="invalid-feedback">
            Please provide amount.
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text checkout-input-label">Recipient ID</span>
          </div>
          <input type="text" class="form-control" id="checkoutRecipientId" aria-label="Recipient ID" required>
          <div class="invalid-feedback">
            Please provide recipient ID.
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message to recipient</label>
          <textarea class="form-control" id="checkoutMessage" rows="2"></textarea>
        </div>

        <button type="submit" class="btn btn-grad float-right">Checkout</button>
      </form>
    </div>
    <div class="col-md">
      <div id='paypaw-btn'></div>
    </div>
  </div>

  <div class="paypaw-footer d-flex flex-column justify-content-center align-items-center">
    <div class="p-2"><b>PayPaw payment</b></div>
    <div class="p-2">E-mail: paypaw.prg@gmail.com</div>
    <div class="p-2" style="font-size: 12px;">Copyright 2019</div>
  </div>
</div>


<style>
.checkout-input-label {
  width: 110px;
}
.p1 {
  min-height: 400px;
}
.paypaw-sub-text {
  color: #5f6365;
}

/* Home section 1 - headline */
#paypawHeadline .headline-title {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  font-family: system-ui;
}
#paypawHeadline .sub-title {
  color: dodgerblue;
  font-weight: 700;
}
.btn-grad {
  flex: 1 1 auto;
  margin: 0px;
  padding: 10px 35px;
  text-align: center;
  font-weight: 600;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 15px;

  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
}
.btn-grad:hover {
  background-position: right center!important;
}

/* Section 2 - steps */
#paypawSteps {
  margin-top: 80px;
}
.demo-tab {
  background: #23241f;
  color: lightgray;
  border-radius: 0 0 15px 15px;
  min-height: 200px;
}
#nav-tab > .active {
  background: #23241f;
  color: white!important;
  border: none;
}
#nav-tab {
  border-radius: 15px 15px 0 0;
  background: #424141;
  border: none;
}
#nav-tab :first-child {
  border-radius: 15px 0 0 0;
}
#nav-tab .nav-item {
  color: gray;
}
.darkgray {
  color: darkgray;
}

/* Home section 3 - Demo */
#paypawDemo {
  margin-top: 120px;
}
.paypaw-input {

}
/* footer */
.paypaw-footer {
  margin-top: 100px;
  padding: 15px;
  line-height: 0.2;
}

</style>

<script src="/js/paypaw.js"></script>
<script type="text/javascript">
$(function() {
  hljs.initHighlightingOnLoad();

  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    let forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    let validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === true) {
          const checkoutRecipientId = $('#checkoutRecipientId').val();
          const checkoutEmail = $('#checkoutEmail').val();
          const checkoutCurrency = $('#checkoutCurrency').val();
          const checkoutAmount = $('#checkoutAmount').val();
          const checkoutMessage = $('#checkoutMessage').val();

          if (checkoutRecipientId && checkoutEmail && checkoutCurrency && checkoutAmount) {
            payPaw.render({

              payment: {
                "user_id": checkoutRecipientId,
                "email": checkoutEmail,
                "currency": checkoutCurrency,
                "currency_amount": checkoutAmount,
                "message": checkoutMessage
              },

              // Your callback method or API request here
              afterPayment: function(data) {
                alert('Payment received! Your callback method or API request here');
                // payment data
                console.log(data);
              }

            }, 'paypaw-btn');

            resetForm();
          }
        }
        form.classList.add('was-validated');
        event.preventDefault();
        event.stopPropagation();
      }, false);
    });
  }, false);

  function resetForm () {
    document.querySelector('#checkoutEmail').value = '';
    document.querySelector('#checkoutRecipientId').value = '';
    document.querySelector('#checkoutAmount').value = '';
    document.querySelector('#checkoutMessage').value = '';
    setTimeout(() => {
      document.getElementsByClassName('needs-validation')[0].classList.remove('was-validated');
    }, 100);
  }
});
</script>
