<div class="container">
  <div class="form-row">
    <div class="col-md">
      <br>
      <h3><span style="color: green;"><i class="fas fa-money-check-alt"></i></span></i> Accept BTM online</h3>
      <hr>
      <form class="needs-validation" novalidate>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text checkout-input-label">Email</span>
          </div>
          <input type="email" class="form-control" id="checkoutEmail" placeholder="(Your email for invoice)" required>
          <div class="invalid-feedback">
            Please provide email.
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text checkout-input-label" for="inputGroupSelect01">Currency</label>
            </div>
            <select class="custom-select" id="checkoutCurrency" required>
              <h6 class="dropdown-header">Crypto</h6>
              <option value="BTM" selected>BTM</option>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Fiat</h6>
              <option value="USD">USD</option>
              <option value="CAD">CAD</option>
              <option value="CNY">CNY</option>
              <option value="EUR">EUR</option>
            </select>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text checkout-input-label">Amount</span>
          </div>
          <input type="text" class="form-control" id="checkoutAmount" aria-label="Amount" placeholder="" required>
          <div class="invalid-feedback">
            Please provide amount.
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text checkout-input-label">Recipient ID</span>
          </div>
          <input type="text" class="form-control" id="checkoutRecipientId" aria-label="Recipient ID" required>
          <div class="invalid-feedback">
            Please provide recipient ID.
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message to recipient</label>
          <textarea class="form-control" id="checkoutMessage" rows="2"></textarea>
        </div>

        <button type="submit" class="btn btn-primary float-right">Checkout</button>
      </form>
    </div>
    <div class="col-md">
      <div id='paypaw-btn'></div>
    </div>
    </div>
  </div>
</div>

<style>
.checkout-input-label {
  width: 110px;
}
</style>

<script src="http://localhost:3000/js/paypaw.js"></script>
<script type="text/javascript">
$(function() {

  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    let forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    let validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === true) {
          const checkoutRecipientId = $('#checkoutRecipientId').val();
          const checkoutEmail = $('#checkoutEmail').val();
          const checkoutCurrency = $('#checkoutCurrency').val();
          const checkoutAmount = $('#checkoutAmount').val() * 10**8;
          const checkoutMessage = $('#checkoutMessage').val();

          if (checkoutRecipientId && checkoutEmail && checkoutCurrency && checkoutAmount) {
            payPaw.render({
              "user_id": checkoutRecipientId,
              "email": checkoutEmail,
              "currency": checkoutCurrency,
              "currency_amount": checkoutAmount,
              "message": checkoutMessage
            }, 'paypaw-btn');

            resetForm();
          }
        }
        form.classList.add('was-validated');
        event.preventDefault();
        event.stopPropagation();
      }, false);
    });
  }, false);

  function resetForm () {
    document.querySelector('#checkoutEmail').value = '';
    document.querySelector('#checkoutRecipientId').value = '';
    document.querySelector('#checkoutAmount').value = '';
    document.querySelector('#checkoutMessage').value = '';
    setTimeout(() => {
      document.getElementsByClassName('needs-validation')[0].classList.remove('was-validated');
    }, 100);
  }
});
</script>