<div class="container">
  <hr>

  <!-- <button type="button" class="btn btn-primary">
    Pending Payments <span class="badge badge-light">125</span>
  </button> -->

  <div>
    <div class="h2">Bills</div>
    <div id="bills-box"></div>
  </div>
</div>
