<div class="container">
  <hr>

  <!-- <button type="button" class="btn btn-primary">
    Pending Payments <span class="badge badge-light">125</span>
  </button> -->

  <div>
    <div class="h2 row">Bills</div>

    <div class="row">
      <nav aria-label="Page navigation col">
        <ul class="pagination">
          <li class="page-item" id="bills-prev-page"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item active">
            <span class="page-link">
              Page <span class="badge badge-light" id="bills-page-number"></span>
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item" id="bills-next-page"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
      <div class="custom-control custom-switch col">
        <input type="checkbox" class="custom-control-input float-right" id="autoUpdateSwitch" checked>
        <label class="custom-control-label float-right" for="autoUpdateSwitch" style="width: 200px;">Updates automatically <i class="fas fa-spinner fa-pulse" id="autoUpdateSpinner"></i></label>
      </div>
    </div>
    <div id="bills-box" style="margin-left: -15px; margin-right: -15px;"></div>
  </div>
</div>
